<div class="backdrop">
  <div id="main">
  	<div class="categories row">
  		<div class="category-button col-xs-3">
        <a href="#/cat/Restaurants"><span class="link-span"></span></a>
      </div>
  		<div class="category-button col-xs-3">
        <a href="#/cat/Bars&Nightlife"><span class="link-span"></span></a>
      </div>
  		<div class="category-button col-xs-3">
        <a href="#/cat/Coffee&Tea"><span class="link-span"></span></a>
      </div>
  		<div class="category-button col-xs-3"></div>
  		<div class="category-button col-xs-3"></div>
  		<div class="category-button col-xs-3"></div>
  		<div class="category-button col-xs-3"></div>
  		<div class="category-button col-xs-3"></div>
  	</div>

    <div class="recent-activity">
    </div>
  </div>
</div>