<div class="backdrop">
  <div id="main">
  	<div class="categories row">
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  		<div class="category-button"></div>
  	</div>
  </div>
</div>