
	<div class="business-show">
		<h1 class="text-center"><%= business.get('name') %></h1>

		<h4 class="text-center">
			<% if(business.get('average_review')) { %>
				<% if(business.get('average_review') > 4.5) { %>
					<img class="star-review-image" src="/assets/5stars.png">
				<% } else if (business.get('average_review') > 3.5) { %>
					<img class="star-review-image" src="/assets/4stars.png">
				<% } else if (business.get('average_review') > 2.5) { %>
					<img class="star-review-image" src="/assets/3stars.png">
				<% } else if (business.get('average_review') > 1.5) { %>
					<img class="star-review-image" src="/assets/2stars.png">
				<% } else { %>
					<img class="star-review-image" src="/assets/1star.png">
				<% } %>

				<p class="text-center"><%= business.get('num_reviews') %> reviews</p>



			<% } else { %>
				<p claas="text-center">No reviews!</p>
			<% } %>
		</h4>

		<% if(business.get('name')) { %>
			<div class="header-container">
				<div class="map-container">
					<iframe
					  frameborder="0" style="border:0"
					  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAa5typTjj43ZpyWYGNg0kNgSHOH5EnVAY
					    &q=<%= business.get('name').replace(/ /g,'+') %>,San+Francisco+CA">
					</iframe>
				</div>
				<div class="business-photo-list">
					<% if(business.photos().length) { %>
						<% business.photos().each(function(photo) { %>
							<img class="header-photos" src="<%= photo.get('fp_url') %>">
						<% }); %>
					<% } else { %>
						<p class="no-photos">No photos!</p>
					<% } %>
				</div>
			</div>
		<% } %>

		<div class="business-reviews-container">
			<% if(business.get('reviewed')) { %>
				<button class="launch-edit-review btn">Edit your review</button>
			<% } else { %>
				<button class="launch-new-review btn">Write a review</button>
			<% } %>

			<h3>Reviews</h3>
		  <ul class="review-list">

		  </ul>
		</div>
	</div>
