/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


ul {
	list-style: none;
}

/* sign in pages */

.image-background-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in {
	background: url("/assets/sushi.jpg") no-repeat center center fixed;
}

.sign-up {
	background: url("/assets/coffee.jpg") no-repeat center center fixed;
}

.inner-form-container {
	width: 350px;
	margin: 0 auto;
	margin-top: 50px;
	background-color:rgba(0,0,0,0.8);
	border-radius: 3%;
	text-align: center;
	padding: 10px;
	color: white;
}

.guest-login {
	border-top: thin solid white;
	margin-top: 8px;
	padding-top: 5px;
}

/* navbar */

#main-navbar {
	background-color: white;
	height: 52px;
	border-bottom: thin solid gray;
}

#navbar-collapse-1 {
	border-color: black;
}

.dropdown-toggle {
	height: 55px;
	/*padding-top: 10px;*/
	margin-top: -57px;
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 5%;
	border: thin solid lightgray;
}

/* categories */

.categories {
	background-color: azure;
	border-top: thin solid lightgray;
	border-bottom: thin solid lightgray;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 40px;
}

.category-button {
	width: 170px;
	height: 110px;
	background-color: #009999;
	margin: 30px;
	position: relative;
	border-radius: 5%;

	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	transition: all 0.2s;
	box-shadow: 0 6px #005d5d;
}

.category-button:hover {
	box-shadow: 0 4px #005d5d;
	top: 2px;
}

.category-button:active {
	box-shadow: 0 0 #005d5d;
	top: 6px;
}


.category-button-label {
	color: white;
	text-align: center;
	padding-top: 27px;
}

.link-span {
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.review {
	border-top: thin solid gray;
}

.map-container {
	float: left;
}


.discover-container {
	background: white;
	height: 550px;
}

.preview-container {
	position: relative;
}

.preview-link:hover {
	background-color: pink;
	opacity: 0.3;
}

.empty-search-result, .business-search-result {
	border: thin solid gray;
}

#map-browser {
	float: left;
	width: 54%;
	height: 450px;
	background-color: blue;
	margin-left: 5%;
	margin-right: 1%;
	position:relative;
}

div#map-browser div.map {
  position:absolute !important;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  border: thin solid black;
}

.browse-business {
	float: left;
	width: 35%;
	height: 450px;
	background-color: #C1F25E;
	border: thin solid lightgray;
}

.tt-cursor {
	background-color: orange;
}

#about-me-input {
	display: block;
}

.jumbotron {
  margin-top: -50px;
  height: 700px;
  color: black;
	background: url("/assets/san-francisco.jpg") no-repeat center center fixed;
	border-bottom: thin solid gray;
}

.jumbo-subtext {
	color: white;
	margin-top: 70px;
}

form.business-search {
	text-align: center;
}