/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.all
 *= require jquery.fancybox
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";


.all-container {
	min-width: 700px;
}

ul {
	list-style: none;
}

/* sign in pages */

.image-background-container {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right: 0;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sign-in {
	background: url("/assets/sushi.jpg") no-repeat center center fixed;
}

.sign-up {
	background: url("/assets/coffee.jpg") no-repeat center center fixed;
}

.inner-form-container {
	width: 350px;
	margin: 0 auto;
	margin-top: 50px;
	background-color:rgba(0,0,0,0.8);
	border-radius: 3%;
	text-align: center;
	padding: 10px;
	color: white;
}

.guest-login {
	border-top: thin solid white;
	margin-top: 8px;
	padding-top: 5px;
}

/* navbar */

#main-navbar {
	background-color: white;
	height: 52px;
	border-bottom: thin solid gray;
}

#navbar-collapse-1 {
	border-color: black;
}

.dropdown-toggle {
	height: 54px;
	margin-top: -57px;
}

.avatar {
	width: 30px;
	height: 30px;
	border-radius: 5%;
	border: thin solid lightgray;
}

/* categories */

.categories {
	background-color: azure;
	border-top: thin solid lightgray;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 20px;
}

.category-button {
	width: 170px;
	height: 110px;
	background-color: #009999;
	margin: 30px;
	position: relative;
	border-radius: 5%;

	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	transition: all 0.2s;
	box-shadow: 0 6px #005d5d;
}

.category-button:hover {
	box-shadow: 0 4px #005d5d;
	top: 2px;
}

.category-button:active {
	box-shadow: 0 0 #005d5d;
	top: 6px;
}


.category-button-label {
	color: white;
	text-align: center;
	padding-top: 27px;
}

.link-span {
	position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.all-bus-link {
	background-color: azure;
	padding-bottom: 30px;
	border-bottom: thin solid lightgray;
}

.review {
	border-top: thin solid gray;
}

.review-list {
	min-height: 400px;
}

.recent-activity-container {
	padding-top: 20px;
	background-color: lavender;
	padding-bottom: 20px;
}

.recent-activity {
	width: 50%;
	margin: 0 auto;
	border: thin solid lightgray;
	background-color: white;
	padding-right: 40px;
}


.discover-container {
	background: white;
	height: 550px;
}


#map-browser {
	float: left;
	width: 64%;
	height: 450px;
	margin-left: 5%;
	margin-right: 1%;
	position:relative;
}

div#map-browser div.map {
  position:absolute !important;
  top:0;
  left:0;
  bottom:0;
  right: 0;
  border: thin solid black;
}

.browse-business {
	float: left;
	width: 25%;
	height: 450px;
	/*background-color: #33CC33;*/
	border: thin solid lightgray;
	color: black;
	text-align: center;
}

.browse-business img {
	width: 100%;
	height: 320px;
}

.bb-sub {

}

.business-map-photo-list {

}

.bm-header-photos {
	height: 200px;
}

.bm-no-photos {
	
}





/*.tt-suggestion.tt-cursor {
	background-color: orange;
}*/

.tt-hint {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    background-color: black;
}

.tt-dropdown-menu div {
	background-color: black;
}

.tt-dropdown-menu a {
	color: white;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion p {
    margin: 0;
}

#about-me-input {
	display: block;
}

.jumbotron {
  margin-top: -50px;
  height: 700px;
  color: black;
	background: url("/assets/san-francisco.jpg") no-repeat center center fixed;
	border-bottom: thin solid gray;
}

.jumbo-subtext {
	color: white;
	margin-top: 70px;
}

form.business-search {
	text-align: center;
}



.backdrop {
	background-color: azure;
}

.user-profile-container {
	background-color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
	border: thin solid gray;
}

.avatar-container a {
	display: block;
	margin-left: 5%;
	border-bottom: thin solid lightgray;
	padding-bottom: 15px;
}

.avatar-container img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 90%;
}

.about-me-container {
	padding-top: 5px;
	width: 90%;
	margin: 0 auto;
}

.user-header {
	border-bottom: thin solid gray;
	padding-bottom: 20px;
}

.user-reviews-container {
	border-left: thin solid gray;
	min-height: 300px;
}


.footer {
	height: 80px;
	width: 100%;
	background-color: gray;
	padding-top: 30px;
	text-align: right;
	padding-right: 30px;
}

.footer a {
	color: white;
	display: inline-block;
	margin-left: 30px;
}

.review-pic-list {
}

.review-pic {
	height: 100px;
}



.business-show {
	background-color: azure;
	margin-top: -30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-container {
	height: 350px;
	display: block;
	background-color: gray;
}

.map-container {
	display: inline-block;
	width: 25%;
	height: 330px;
	margin-top: 10px;
	border-right: thin solid black;
}

.map-container iframe {
	display: inline-block;
	height: 100%;
	width: 95%;
	padding-right: 2.5%;
	padding-left: 2.5%;
}

.business-photo-list {
	overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  height: 330px;
  margin-top: 10px;
  width: 70%;
  margin-left: 2%;
  display: inline-block;
}

.header-photos {
	display: inline-block;
	height: 330px;
}

.business-reviews-container {
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	border: thin solid black;
	background-color: white;
}

.business-reviews-container > .btn {
	float:right;
	margin-top: 15px;
	margin-right: 10px;
}

.no-photos {
	color: white;
	margin-top: 120px;
	text-align: center;
	font-size: 200%;
}

.logo {
	height: 30px;
	margin-top: -5px;
}

.category-page {
	/*background-color: #FF8383;*/
	margin-top: -30px;
	padding-top: 20px;
}

.category-inner-container {
	background-color: white;
	min-height: 600px;
	width: 90%;
	margin: 0 auto;
}

.user-page {
	min-height: 600px;
	padding-bottom: 20px;
}

.business-page {
	padding-bottom: 20px;
}

.get-more-reviews {
	display: block;
	padding: 2px;
	margin-bottom: 5px;
}

.back-link {
	display: block;
	text-align: center;
}

.business-preview-list {
	width: 90%;
	min-width: 600px;
	margin: 0 auto;
}

.preview-container {
	width: 50%;
}

.preview-link:hover {
	/*background-color: lightblue;*/
	/*opacity: 0.3;*/
}

.pc-inner {
	margin: 10px;
	border: thin solid lightgray;
	height: 250px;
}

.pc-inner:hover {
	box-shadow: 3px 3px 2px lightgray;
}

.star-review-image {
	height: 16px !important;
	width: 90px !important;
}

.star-map {
	margin: 0 auto;
	display: block;
}

.add-pictures {
	float: right;
	margin-top: -40px;
}

.rr-header {
	margin-right: -10%;
}

.cat-photo-list {
}

.cat-header-photos {
	float: left;
	height: 248px;
}

.cat-description {
	text-align: center;
}

.jumbotron h1 {
	/*color: white;*/
	text-shadow: 0 0 3px #fff;
}

.jumbotron h3 {
	text-shadow: 0 0 2px #888;
}

li.review {
	border: thin solid lightgray;
	margin-right: 5%;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}

.business-reviews-container h3 {
	text-align: center;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	padding-top: 20px;
	margin-bottom: 10px;
}

.user-reviews-controller h4 {
	width: 300px;
	height: 50px;
	margin: 0 auto;
}