<h1><%= business.get('name') %></h1>

<iframe
  width="400"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAa5typTjj43ZpyWYGNg0kNgSHOH5EnVAY
    &q=<%= business.get('name').replace(/ /g,'+') %>,San+Francisco+CA">
</iframe>