<h1><%= category %></h1>

<a href="#">Back</a>

<ul>
	<% for(business in businesses) { %>
		<li><a href="#/business/<%= businesses[business].id %>"><%= businesses[business].name %></a></li>
	<% }; %>
</ul>