<h1><%= category.replace(/&/, " & ").replace(/([a-z])([A-Z])/, function(p1, p2, p3) {
	return p2 + " " + p3;
}) %></h1>

<a href="#">Back</a>

<ul>
	<% for(business in businesses) { %>
		<li><a href="#/business/<%= businesses[business].id %>"><%= businesses[business].name %></a></li>
	<% }; %>
</ul>