<div class="category-page">
	<div class="category-inner-container">
		<h1 class="text-center"><%= category.replace(/&/, " & ").replace(/([a-z])([A-Z])/, function(p1, p2, p3) {
			return p2 + " " + p3;
		}) %></h1>

		<a class="back-link" href="/">Back</a>

		<div class="business-preview-list row">
		</div>
	</div>
</div>