<div class="categories row">
	<div class="category-button col-xs-3">
    <a href="#/cat/Restaurants"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Bars&Nightlife"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Coffee&Tea"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Arts&Entertainment"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Shopping"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Hotels&Travel"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Beauty&Spas"><span class="link-span"></span></a>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Bakeries"><span class="link-span"></span></a>
  </div>
</div>

<div>
  <a href="#/all">All Businesses</a>
</div>

<div class="recent-activity">
</div>