<div class="jumbotron">
  <h1 class="text-center">Welcome to Go-Again</h1>
  <h3 class="jumbo-subtext text-center">Find what you're looking for</h3>
</div>

<div class="discover-container">
  <h1 class="text-center">Discover</h1>
  <div id="map-browser">

  </div>

  <div class="browse-business">

  </div>
</div>

<div class="categories row">
  <h1 class="text-center">Narrow it down</h1>
  <% var categories = ["Bars & Nightlife", "Restaurants", "Coffee & Tea", "Arts & Entertainment", "Shopping", "Hotels & Travel", "Beauty & Spas", "Bakeries", "Food Carts", "Gyms", "Health & Medical", "Home Services"] %>

  <% categories.forEach(function(category) { %>
    <div class="category-button col-xs-3">
      <a href="#/cat/<%= category.replace(/ /g,'') %>"><span class="link-span"></span></a>
      <p class="category-button-label"><%= category %></p>
    </div>
  <% }); %>

</div>

<div class="recent-activity-container">
  <div class="recent-activity infinite-reviews">
    <h2 class="text-center">Recent Reviews</h2>
    <ul class="review-list">

    </ul>
    <div class="text-center">
      <button class="get-more-reviews btn"><a href="#" class="get-more-reviews btn">Load more reviews</a></button>
    </div>
  </div>
</div>