<div class="categories row">
  <% var categories = ["Bars & Nightlife", "Restaurants", "Coffee & Tea", "Arts & Entertainment", "Shopping", "Hotels & Travel", "Beauty & Spas", "Bakeries", "Food Carts", "Gyms", "Health & Medical", "Home Services"] %>

  <% categories.forEach(function(category) { %>
    <div class="category-button col-xs-3">
      <a href="#/cat/<%= category.replace(/ /g,'') %>"><span class="link-span"></span></a>
      <p class="category-button-label"><%= category %></p>
    </div>
  <% }); %>

</div>
<div class="text-center">
  <a href="#/all">All Businesses</a>
</div>

<div class="recent-activity infinite-reviews">
  <h2 class="text-center">Recent Reviews</h2>
  <ul class="review-list">

  </ul>
  <div class="text-center">
    <a href="#" class="get-more-reviews">Load more reviews</a?>
  </div>
</div>