<div class="footer">
	<a href="https://github.com/poonghyun/go_again" target="_blank">Github source</a>
	<a href="https://www.linkedin.com/pub/michael-lee/3b/8b7/b6b" target="_blank">Linkedin profile</a>
	<a href="http://www.appacademy.io/" target="_blank">App Academy</a>
	<a href="mailto:michael.ph.lee.12@gmail.com">Email Me</a>
</div>